<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" href="style.css">
   <style>
      .inputBox{
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .inputBox input{
        background-color: rgb(36, 36, 36);
        color: aliceblue;
      }

      ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(169, 169, 169);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgb(137, 137, 137);
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: rgb(163, 163, 163);
}


    

  
    </style> 
</head>

<body>
    <header class="header" data-header>

        <div class="overlay" data-overlay></div>

        <div class="header-top">
            <div class="container">

                <ul class="header-top-list">

                    <li>
                        <a href="mailto:omarshayya132@gmail.com" class="header-top-link">
                            <ion-icon name="mail-outline"></ion-icon>

                            <span>omarshayya132@gmail.com</span>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="header-top-link">
                            <ion-icon name="location-outline"></ion-icon>

                            <address>mainroad, Sawfar, Aley</address>
                        </a>
                    </li>

                </ul>

                <div class="wrapper">
                    <ul class="header-top-social-list">

                        <li>
                            <a href="https://www.facebook.com/omar.shayya.10?mibextid=ZbWKwL"
                                class="header-top-social-link">
                                <ion-icon name="logo-facebook"></ion-icon>
                            </a>
                        </li>

                        <li>
                            <a href="#" class="header-top-social-link">
                                <ion-icon name="logo-twitter"></ion-icon>
                            </a>
                        </li>

                        <li>
                            <a href="#" class="header-top-social-link">
                                <ion-icon name="logo-instagram"></ion-icon>
                            </a>
                        </li>

                        <li>
                            <a href="#" class="header-top-social-link">
                                <ion-icon name="logo-pinterest"></ion-icon>
                            </a>
                        </li>

                    </ul>

                    <button class="header-top-btn">Add Listing</button>
                </div>

            </div>
        </div>

        <div class="header-bottom">
            <div class="container">

                <a href="#" class="logo">
                    <img src="/logoo.PNG" alt="Homeverse logo">
                </a>

                <nav class="navbar" data-navbar>

                    <div class="navbar-top">

                        <a href="#" class="logo">
                            <img src="/logoo.PNG" alt="Homeverse logo">
                        </a>

                        <button class="nav-close-btn" data-nav-close-btn aria-label="Close Menu">
                            <ion-icon name="close-outline"></ion-icon>
                        </button>

                    </div>

                    <div class="navbar-bottom">
                        <ul class="navbar-list">

                            <li>
                                <a href="/" class="navbar-link" data-nav-link>Home</a>
                            </li>

                            <li>
                                <a href="#about" class="navbar-link" data-nav-link>About</a>
                            </li>

                            <li>
                                <a href="#service" class="navbar-link" data-nav-link>Service</a>
                            </li>

                            <li>
                                <a href="/view" class="navbar-link" data-nav-link>Property</a>
                            </li>

                            <li>
                                <a href="#blog" class="navbar-link" data-nav-link>Blog</a>
                            </li>

                            <li>
                                <a href="/users" class="navbar-link" data-nav-link>View Users</a>
                            </li>

                        </ul>
                    </div>

                </nav>
               
                <div class="header-bottom-actions">
                    <input type="text" class="searchinput" placeholder="Search...">
                    <button class="header-bottom-actions-btn searchbutton" aria-label="Search">
                   

                        <span>Search</span>
                    </button>

                    <form action="">
                        <button class="header-bottom-actions-btn searchbutton2" aria-label="Search">
                            

                            <span>Search</span>
                        </button>
                    </form>
                    <a href="/login" id="loginA"> </a>
                   

                    <form action=""></form>
                    <a href="/logout" id="logoutA"></a>

                    <form action="" class="formm">
                        <button class="header-bottom-actions-btn" data-nav-open-btn aria-label="Open Menu">
                            <ion-icon name="menu-outline"></ion-icon>

                            <span>Menu</span>
                        </button>
                    </form>

                </div>

            </div>
        </div>

    </header>

    <div class="insert">
        <h1 style="margin-left: 90px; margin-bottom: 10px;">Add Your Property</h1>
       
        <div class="Bigg">
            <!-- <div class="left">
            <img src="/images/picc.png" alt="orange" />
          </div> -->

            <div class="boxx" >
                <div class="form" style="border: 1px solid aqua; margin-bottom: 20px; display: flex; flex-direction: column; border-radius: 20px;">
                    <form action="/view" method="post" id="addForm" enctype="multipart/form-data">

                        <div class="inputBox">
                            <label for="title">Title</label>
                            <input type="text" name="title" placeholder="Title" required style="margin-left: 50px;">
                            <i></i>
                        </div>

                        <div class="inputBox">
                            <label for="title">Description</label> 
                            <input name="desc" placeholder="description">
                            <i></i>
                        </div>


                        <div class="inputBox">
                            <label for="price">Price</label>
                            <input type="number" name="price" placeholder="price" style="margin-left: 50px;">
                            <i></i>
                        </div>

                        <div class="inputBox">
                            <label for="price">Bedrooms</label>
                            <input type="number" name="beds" placeholder="bedrooms" style="margin-left: 10px;">
                            <i></i>
                        </div>

                        <div class="inputBox">
                            <label for="price">Bathrooms</label>
                            <input type="number" name="baths" placeholder="bathrooms">
                            <i></i>
                        </div>

                        <div class="inputBox">
                            <label for="price">Square Ft</label>
                            <input type="number" name="space" placeholder="square ft" style="margin-left: 10px;">
                            <i></i>
                        </div>

                        <div class="inputBoxx">
                            <label for="price">Add House Image</label>
                            <input type="file" id="image" name="image" value="" required>
                            <i></i>
                        </div>

                        <div class="inputBox">
                            <label for="type">FOR SALE</label>
                            <input type="radio" name="type" value="FOR SALE">
                            <label for="type">FOR RENT</label>
                            <input type="radio" name="type" value="FOR RENT">
                            <i></i>
                        </div>

                        <button style=" margin: auto; border-radius: 20px; background-color: rgb(0, 39, 122); color: aliceblue; margin-bottom: 20px; padding: 10px 30px;" class="submit">submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>

    <section class="cta">
        <div class="container">

            <div class="cta-card">
                <div class="card-content">
                    <h2 class="h2 card-title">Looking for a dream home?</h2>

                    <p class="card-text">We can help you realize your dream of a new home</p>
                    <form action="view" method="get">
                </div>

                <button class="btn cta-btn">
                    Explore Properties

                    <ion-icon name="arrow-forward-outline"></ion-icon>
                </button>

            </div>
            </form>

        </div>
    </section>

    </article>
    </main>





    <!-- 
- #FOOTER
-->

    <footer class="footer">

        <div class="footer-top">
            <div class="container">

                <div class="footer-brand">

                    <a href="#" class="logo">
                        <img src="/Capture-removebg-preview.png" alt="Homeverse logo" width="100%">
                    </a>

                    <p class="section-text">
                        Lorem Ipsum is simply dummy text of the and typesetting industry. Lorem Ipsum is dummy text of
                        the printing.
                    </p>

                    <ul class="contact-list">

                        <li>
                            <a href="#" class="contact-link">
                                <ion-icon name="location-outline"></ion-icon>

                                <address>Brooklyn, New York, United States</address>
                            </a>
                        </li>

                        <li>
                            <a href="tel:+0123456789" class="contact-link">
                                <ion-icon name="call-outline"></ion-icon>

                                <span>+961-81453643</span>
                            </a>
                        </li>

                        <li>
                            <a href="mailto:omarshayya132@gmail.com" class="contact-link">
                                <ion-icon name="mail-outline"></ion-icon>

                                <span>omarshayya132@gmail.com</span>
                            </a>
                        </li>

                    </ul>

                    <ul class="social-list">

                        <li>
                            <a href="#" class="social-link">
                                <ion-icon name="logo-facebook"></ion-icon>
                            </a>
                        </li>

                        <li>
                            <a href="#" class="social-link">
                                <ion-icon name="logo-twitter"></ion-icon>
                            </a>
                        </li>

                        <li>
                            <a href="#" class="social-link">
                                <ion-icon name="logo-linkedin"></ion-icon>
                            </a>
                        </li>

                        <li>
                            <a href="#" class="social-link">
                                <ion-icon name="logo-youtube"></ion-icon>
                            </a>
                        </li>

                    </ul>

                </div>

                <div class="footer-link-box">

                    <ul class="footer-list">

                        <li>
                            <p class="footer-list-title">Company</p>
                        </li>

                        <li>
                            <a href="#" class="footer-link">About</a>
                        </li>

                        <li>
                            <a href="#" class="footer-link">Blog</a>
                        </li>

                        <li>
                            <a href="#" class="footer-link">All Products</a>
                        </li>

                        <li>
                            <a href="#" class="footer-link">Locations Map</a>
                        </li>

                        <li>
                            <a href="#" class="footer-link">FAQ</a>
                        </li>

                        <li>
                            <a href="#" class="footer-link">Contact us</a>
                        </li>

                    </ul>

                    <ul class="footer-list">

                        <li>
                            <p class="footer-list-title">Services</p>
                        </li>

                        <li>
                            <a href="#" class="footer-link">Order tracking</a>
                        </li>

                        <li>
                            <a href="#" class="footer-link">Wish List</a>
                        </li>

                        <li>
                            <a href="#" class="footer-link">Login</a>
                        </li>

                        <li>
                            <a href="#" class="footer-link">My account</a>
                        </li>

                        <li>
                            <a href="#" class="footer-link">Terms & Conditions</a>
                        </li>

                        <li>
                            <a href="#" class="footer-link">Promotional Offers</a>
                        </li>

                    </ul>

                    <ul class="footer-list">

                        <li>
                            <p class="footer-list-title">Customer Care</p>
                        </li>

                        <li>
                            <a href="#" class="footer-link">Login</a>
                        </li>

                        <li>
                            <a href="#" class="footer-link">My account</a>
                        </li>

                        <li>
                            <a href="#" class="footer-link">Wish List</a>
                        </li>

                        <li>
                            <a href="#" class="footer-link">Order tracking</a>
                        </li>

                        <li>
                            <a href="#" class="footer-link">FAQ</a>
                        </li>

                        <li>
                            <a href="#" class="footer-link">Contact us</a>
                        </li>

                    </ul>

                </div>

            </div>
        </div>

        <div class="footer-bottom">
            <div class="container">

                <p class="copyright">
                    &copy; All Rights Reserved
                </p>

            </div>
        </div>

    </footer>

    <script>
        "use strict";

        /**
         * element toggle function
         */

        const elemToggleFunc = function (elem) {
            elem.classList.toggle("active");
        };

        /**
         * navbar toggle
         */

        const navbar = document.querySelector("[data-navbar]");
        const overlay = document.querySelector("[data-overlay]");
        const navCloseBtn = document.querySelector("[data-nav-close-btn]");
        const navOpenBtn = document.querySelector("[data-nav-open-btn]");
        const navbarLinks = document.querySelectorAll("[data-nav-link]");

        const navElemArr = [overlay, navCloseBtn, navOpenBtn];

        /**
         * close navbar when click on any navbar link
         */

        for (let i = 0; i < navbarLinks.length; i++) {
            navElemArr.push(navbarLinks[i]);
        }

        /**
         * addd event on all elements for toggling navbar
         */

        for (let i = 0; i < navElemArr.length; i++) {
            navElemArr[i].addEventListener("click", function () {
                elemToggleFunc(navbar);
                elemToggleFunc(overlay);
            });
        }

        /**
         * header active state
         */

        const header = document.querySelector("[data-header]");

        window.addEventListener("scroll", function () {
            window.scrollY >= 400
                ? header.classList.add("active")
                : header.classList.remove("active");
        });
    </script>
</body>

</html>